<footer class="footer">
  <small>
    <a href="http://en.wikipedia.org/wiki/Hamster/">Beat the Lotto</a>
    by Burnttoast
  </small>
  <nav>
    <ul>
      <li><a href="http://vtlottery.com/">Vermont Lottery</a></li>
    </ul>
  </nav>
</footer>