<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "measurably green", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Vermont Lottery",    'http://vtlottery.com/allgames/scratchgames.aspx' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>